<style>
  @import url('https://fonts.googleapis.com/css2?family=Comme:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@500&display=swap');
</style>
<div>
  <header class="websiteHeader">
    <h1 class="headerTitle" style=" font-family:'Yaldevi', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">.:: Gazi Havacılık ::.</h1>
    <app-yonlendirme-butonu class="butonlar"[buttonText]="'Anasayfa'"></app-yonlendirme-butonu>
    <app-yonlendirme-butonu class="butonlar"[buttonText]="'Hakkımızda'"></app-yonlendirme-butonu>
    <app-yonlendirme-butonu class="butonlar"[buttonText]="'Eğitim'"></app-yonlendirme-butonu>
    <app-yonlendirme-butonu class="butonlar"[buttonText]="'Tüzük'"></app-yonlendirme-butonu>
    <app-yonlendirme-butonu class="butonlar"[buttonText]="'Bilgi Sistemi'"></app-yonlendirme-butonu>
    <app-yonlendirme-butonu class="butonlar"[buttonText]="'Blog'"></app-yonlendirme-butonu>
  </header>
  <div>
    <h1 class='mainTitle'style="font-family: 'Comme'">
      Gazi Havacılık.
     </h1>
  </div>
  <div class="container">
    <div class="wrapper">
      <h1 class="mainParagraph" style="font-family: 'Nunito Sans'; font-size:19px" >
        Yamaç paraşütü deneyimini Gazi Havacılık'ta tatmaktan daha güzel ne olabilir ki? Neler yaptığımızı merak ediyorsanız etkinliklerimize bir göz atın!
       </h1>
       <app-yonlendirme-butonu class="butonlar"[buttonText]="'Blog\'umuza göz atın!'" style="margin-left: 30px"></app-yonlendirme-butonu>
    </div>
     <div>
      <img class="homeimg" src="../../../assets/dob.jpg" alt="Mountain">
    </div>
  </div>
</div>

