.websiteHeader {
  background: #fff;
  /* border: 1px solid black; */
  z-index: 9999;
  position: sticky;
  top: 0;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center right;
}
.websiteHeader::after{
  content:'';
  display:inline-block;
  width:100%; height:100%;
  margin-right:-100%;
  border-bottom:1px solid #000;

}

.container {
  display: flex;
  justify-content: space-between;
  justify-content: flex;
  border: 2px solid black;
  max-width: 80%;
  margin: auto;
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}
.butonlar{
  margin-top: 10px;
  margin-right: 8px;
}

.headerTitle{
  display: flex;
  align-items: center left;
  margin-top: 20px;
  margin-left: 28px;
  font-size: 15px;
  flex: 1;
}

.homeimg{
  float:right;
  display: flex;
  justify-content: flex-end;
  width: 450px;
  height: 450px;
}

.mainTitle{
 margin-left: 150px;
 white-space: nowrap;
 height:20px;
}

.mainParagraph{
  margin-top: 70px;
  white-space: normal;
  word-break: break-word;
  margin-right: 150px;
  margin-left: 30px;
}
