
.mainTitle{
  margin-left: 150px;
  white-space: nowrap;
  height:20px;
 }
 
.mainParagraph{
   margin-top: 70px;
   white-space: normal;
   word-break: break-word;
   margin-right: 150px;
   margin-left: 30px;
 }
 

.container {
  height:477px;
  display: flex;
  justify-content: space-between;
  justify-content: flex;
  border: 2px solid black;
  max-width: 80%;
  margin-left: 150px;
  position: relative;
}

.homeimg{
  float:right;
  display: flex;
  justify-content: flex-end;
  width: 450px;
  height: 450px;
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

.homeimg.opened {
  opacity: 0;
  transition-duration: 600ms;
}
.wrapper{
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: opacity 400ms ease-in-out;
  opacity: 1;
}
.wrapper.opened {
  opacity: 0;
  transition-duration: 600ms;
}
.button-container {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  margin-left: 30px; /* Adjust the margin as needed */
}

.carousel-button {
  width: 10px;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  height: 14px;
  margin-bottom: 30px;
  margin-right: 5px; /* Counteract the margin from the button container */
  transition: background-color 0.26s;
}

.carousel-button:focus {
  background-color: black;
}
 